.favorite{
    visibility: hidden;
}

#favoriteIcon::after {
    visibility: visible;
    content: "☆";
    color: white;
    font-size: 13px;
    /*background: green;*/
    padding: 8px;

}

#favoriteIcon:checked::after {
    content: " ★ ";
    color: black;
    /*background: red;*/
}
